<form action="/" method="post" class="form">
  <div class="form-group form__url">
    <input
      type="text"
      class="form-control"
      placeholder="input URL here"
      name="inputUrl"
    />
  </div>
  <button type="submit" class="btn btn-primary form__submit">Submit</button>
</form>