<form action="/" method="post">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="input URL here"
      name="inputUrl"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>