<div class="card">
  <div class="card-body">
    <h5 class="card-title text-success">Success</h5>
    <h6 style="text-align: center">{{url}}</h6>
    <h6 class="text-success">shorted into below:</h6>
    <a
      id="shortenUrl"
      href="/{{shortenUrl}}"
      class="card-link"
    >http://{{currentUrl}}/{{shortenUrl}}</a>
    <button
      onclick="copyUrl()"
      type="button"
      class="btn btn-primary mt-2"
    >Copy</button>
  </div>
</div>

<script>
  function copyUrl(){ const url = document.getElementById("shortenUrl"); const
  elem = document.createElement("textarea"); elem.value = url.innerText;
  document.body.appendChild(elem); elem.select(); document.execCommand("copy");
  document.body.removeChild(elem); }
</script>