<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title primary">Success</h5>
    <h6 class="card-subtitle mb-2 text-muted">convert {{url}} into below:</h6>
    <a href="/{{shortenUrl}}" class="card-link">{{shortenUrl}}</a>
    <button type="button" class="btn btn-primary">Copy</button>
  </div>
</div>