.card-content {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.card-button {
  width: fit-content;
  align-self: flex-end;
}

.card {
  width: 100% !important;
}

.card-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  justify-content: space-around;
}

